<div class="container">
    <div class="row up">
        <div class="col-8">
            <h1>Nicolas Pantano</h1>
            
        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row">
        <div class="col-8 left">
            
            <p>Soy un estudiante de la carrera Tecnico superior en programación en la Universidad Tecnologica Nacional y como tarea para la materia Programacion IV se me ha solicitado realizar esta sala de juegos mediante el framework <a href="https://angular.io/" target="_blank">Angular.</a></p>
            <!--<p>Aqui podemos encontrar 4 juegos, cada uno con su respectivo chat:</p>
            <ul>
                <li>Ta Te Ti</li>
                <li>Piedra papel o tijera</li>
                <li>Memotest</li>
                <li>Mayor o menor?</li>
            </ul>
            <p>El juego mayor o menor consiste en 9 numeros generados aleatoriamente, en el que el usuario tiene que adivinar si el siguiente sera mayor o menor al actual.</p>
            -->
        </div>
        <div class="col-4" >
            <p><img src="../../../assets/yo.jpg"class="foto"></p>
            <!--<a href="#" class="fa fa-facebook"></a>-->
        </div>
    </div>
</div>