<div class="container">
    <div class="row up">
        <div class="col-8">
            <h1>Nicolas Pantano</h1>
            
        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row">
        <div class="col-8 left">
            
            <p>Soy un estudiante de la carrera Tecnico superior en programación en la Universidad Tecnologica Nacional y como tarea para la materia Programacion IV se me ha solicitado realizar esta sala de juegos mediante el framework <a href="https://angular.io/" target="_blank">Angular.</a></p>
            <p>Aqui podemos encontrar 3 juegos, cada uno con su respectivo chat:</p>
            <ul>
                <li>Matematica Agil</li>
                <li>Ahorcado</li>
                <li>Mayor o menor?</li>
            </ul>
            <p>El juego Matematica Agil consiste en 3 dificultades distintas donde el usuario tendra que resolver cuentas matematicas en un lapso de tiempo</p>
            
        </div>
        <div class="col-4" >
            <p><img src="../../../assets/yo.jpg"class="foto" class="fotomia"></p>
            <!--<a href="#" class="fa fa-facebook"></a>-->
        </div>
    </div>
</div>