<div class="container">
    <h4 class="text-center">Juegos</h4>
    <div class="row">
        <div class="col-6 text-center" style="border:2px;border-color: black;border-width: 2px;border-style: solid;">
            <img routerLink="/juegos/mayormenor" src="../../../assets/mayoromenor.jpg">
        </div>
        <div class="col-6 text-center" style="border:2px;border-color: black;border-width: 2px;border-style: solid;">
            <img routerLink="/juegos/ahorcado" src="../../../assets/ahorcado.jpg">
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-6 text-center" style="border:2px;border-color: black;border-width: 2px;border-style: solid;">
            <img routerLink="/juegos/preguntados" src="../../../assets/preguntados.jpg">
        </div>
        <div class="col-6 text-center" style="border:2px;border-color: black;border-width: 2px;border-style: solid;">
            <img routerLink="/juegos/matematica" src="../../../assets/matematica.jpg">
        </div>
    </div>
    
</div>