<div class="container">
    <h4 class="text-center">Juegos</h4>
    <div class="row">
        <div class="col-6 text-center" style="border:2px;border-color: black;border-width: 2px;border-style: solid;">
            <img routerLink="/mayormenor" src="../../../assets/mayoromenor.jpg">
        </div>
        <div class="col-6 text-center" style="border:2px;border-color: black;border-width: 2px;border-style: solid;">
            <img routerLink="/ahorcado" src="../../../assets/ahorcado.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            
        </div>
    </div>
    
</div>