<table *ngIf="respuestas" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Juego Favorito</th>
        <th scope="col">Como nos conocieron?</th>
        <th scope="col">Puntuacion de la sala de juegos</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let respuesta of respuestas;let i = index">
        <td>{{i+1}}</td>
        <td>{{respuesta.usuario}}</td>
        <td>{{respuesta.nombre}}</td>
        <td>{{respuesta.apellido}}</td>
        <td>{{respuesta.edad}}</td>
        <td>{{respuesta.respuestaJuego}}</td>
        <td>{{respuesta.respuestaConocer}}</td>
        <td>{{respuesta.respuestaPuntuacion}}</td>







      </tr>
        
    </tbody>
  </table>