<div class="container my-auto">
    <h3 class="text-center">Mayor o menor?</h3>
    <div *ngIf="cartas!=null">
        <div class="row text-center" style="margin-top:7%">
            <div class="col">
                <h5>Carta actual</h5>
                <img [src]="cartaActual.image">
            </div>
            <div class="col">
                <h4>Puntaje: {{puntaje}}</h4><br>
                <h4>{{mensaje}}</h4>
            </div>
            <div class="col">
                <h5>Cartas restantes: {{cartas.length}}</h5>
                <img src="../../../assets/dorso.jpg">
            </div>
        </div>
        <div class="row text-center" style="margin-top:7%">
            <div class="col">
                <button (click)="sacarCarta('mayor')" class="btn btn-lg btn-primary">Mayor</button>
            </div>
            <div class="col">

            </div>
            <div class="col">
                <button (click)="sacarCarta('menor')" class="btn btn-lg btn-primary">Menor</button>
            </div>
        </div>
    </div>
    <div *ngIf="cartas==null" class="text-center my-auto">
        <app-loading></app-loading>
    </div>
    
</div>